html {
	margin: 0;
	
}

#main-container{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: left mid right lowleft midlow rightlow;
	background-color: burlywood;
	height: 110vh;
}

#form-container{
	grid-area: mid;
	border: 1px black solid;
}

