
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


$main-font: 'Yellowtail', cursive;

html,body {
	margin: 0;
	background: linear-gradient(0deg, rgba(50,172,205,1) 0%, rgba(199,137,170,1) 50%, rgba(238,220,132,1) 100%);
	height: 105vh;
	
}

#title {
	font-family: $main-font;
	font-size: 50px;
	grid-area: top2;
	text-align: center;
}

#main-container{
	display:grid;
	padding: 20px;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 2fr;
	grid-template-areas: 'top1 top2 top3' 'left mid right' 'lowleft midbottom rightlow';
	
	
}
#picture {
	grid-area: left;
}

#form-container{
	grid-area: mid;
	border: 8px white dotted;
	padding: 20px;
	font-size: 25px;
	font-family: sans-serif;
}

